@media screen and (min-width:768px){

#menu{

display:none;

}

.navigation{

display:flex;

gap:20px;
flex-direction:row;
}

.navigation li{

background:none;

}

.top{

display:grid;

grid-template-columns:2fr 1fr;

gap:20px;

}

#courses{

grid-template-columns:repeat(3,1fr);

}

}